<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Project</title>
    <style>
      .title-banner {
        text-align: center;
        border-bottom: 1px solid black
      }
      .center {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
      }
    </style>
  </head>
  
  <body>
    <div class="title-banner">
        <h1><%= @project.title %></h1>
    </div>
      <div class="center">
        <p style="color: green"><%= notice %></p>

        <%= render @project %>

        <div>
          <%= link_to "Edit", edit_project_path(@project) %> |
          <%= link_to "All projects", projects_path %>
          <br>
          <br>
          <%= button_to "Delete this project", @project, method: :delete %>
        </div>
      </div>
  </body>
</html>